doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap' rel='stylesheet')
    link(href='/toastify.min.css' rel='stylesheet')
    script(src='/tailwind.js')
    script(src='/toastify-js.js')
    style.
      body {
      font-family: "Noto Sans TC", sans-serif
      }
  body
    block content
